* {
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	/* -webkit-appearance: none;
	-moz-appearance: none; */
}
html, body {
	text-rendering: optimizeLegibility;
	-webkit-text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  /* background-color: #004e92;
  background: -webkit-linear-gradient(top,#004e92,#1b2687);
  background: -o-linear-gradient(top,#004e92,#1b2687);
  background: linear-gradient(180deg,#004e92,#1b2687); */
  font-family: 'Raleway', 'Roboto', lato, Arial, sans-serif !important;
}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

img {
	border: 0px;
	max-width: 100%;
	height: auto /*!important*/;
}
h1, h2, h3, h4, h5, h6, form, p {
	margin: 0px;
	word-wrap: break-word;
}
a {
	color: rgb(255, 132, 0);
	text-decoration: none;
}
a:hover {
	cursor: pointer;
	/*text-shadow: 2px 2px 2px #000;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.6);*/
}
.img_cover {
	position: absolute;
  max-height: 125%;
  max-width: 125%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
ul {
  list-style: none;
}